{% extends user.portal_base|default:"sys_admin/portal_base.html" %}

{% block title %}Marketplace | BrosDen-AV{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block portal_content %}
<div class="pt-2">
    {% include "property/snippets/browse_inner.html" %}
</div>
{% endblock %}

{% block extra_js %}
    {% include "property/snippets/browse_js.html" %}
{% endblock %}
